<html>
  <head>
    <title>Go Bug</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/adminProject.js"></script>
  <head>

  <body>
    {{.}}
    <nav class="navbar navbar-inverse" >
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">GoBug</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">ProJect</a></li>
          <li><a href="http://localhost:8080/adminmember/">Member</a></li>
          <li><a href="http://localhost:8080/adminstat/">Statistics</a></li>
        </ul>
      </div>
    </nav>

    <table class="table table-hover" id="projectTable"></table><br>
    <hr>
    <table class="table table-hover" id="membersTable" style="display: none"></table><br>
    <input type="hidden" id="iduser"/>

    <hr>

    <input type="hidden" id="id"/>
    <input type="hidden" id="project"/>
    <input type="hidden" id="mieuta"/>

    <input type="hidden" id="id-add"/>
    <div style ="display: none" id="ad">
      New member email: <input type="text" id="memberemail"/><br>
      <input type="submit" value="Add member" id="addmember" onclick="AddMember2()"/>
      <hr>
    </div>

    New project name: <input type="text" id="new"/><br>
    New description: <input type="text" id="desc"/><br>

    <input type="submit" value="Add project" onclick="PostProject()"/>
  </body>
<html>
