<html>
  <head>
    <title>Go Bug</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/userProject.js"></script>
    <script src="../static/js/logout.js"></script>
  <head>

  <body>

    <nav class="navbar navbar-inverse" >
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">GoBug</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">ProJects</a></li>
          <li><a href="http://localhost:8080/user/findbug/">Find bugs</a></li>
          <li><a href="http://localhost:8080/user/profile/">Your Profile</a></li>
          <li align="right" ><a onclick="LogOut()" href="http://localhost:8080/">Log out</a></li>
        </ul>
      </div>
    </nav>

    <table class="table table-hover" id="projectUserTable"></table><br>
    <hr>
    <table class="table table-hover" id="bugUserTable" style="display: none"></table><br>
    <input type="hidden" id="idbug"/>
    <input type="hidden" id="tenbug"/>
    <input type="hidden" id="mtbug"/>
    <input type="hidden" id="mtsolution"/>
    <input type="hidden" id="founddate"/>

    <hr>
    <input type="hidden" id="id"/>

    <input type="hidden" id="id-add"/>

    <input type="hidden" id="cate" value="Logic"/>

    <div id="newBug" style = "display: none">
      New bug name: <input type="text" id="new"required><br>
      New description: <input type="text" id="desc"/><br>
      Category: <select id="cate" onchange="Catego(this)">
        <option value = 'Logic'>Logic </option>
        <option value = 'Dont understand spec'>Don't understand spec </option>
        <option value = 'Dont know tech'>Don't know tech </option>
        <option value = 'Carelessness'>Carelessness</option>
      </select><br>

      <input type="submit" class="btn btn-success" value="Add" onclick="PostBug()"/>
    <div>

    <h4 id="code" align="center" style="color: red;display:none;"> Bug name is empty! </h4>

    <input type="hidden" id="idbug"/>
  </body>
<html>
