<html lang="en">

  <head>

    <title>Go Bug</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/mastermemberTable.js"></script>

  </head>


  <body>

    <nav class="navbar navbar-inverse" >
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">GoBug</a>
        </div>
        <ul class="nav navbar-nav">
          <li ><a href="http://localhost:8080/master/">Wait</a></li>
          <li class="active"><a href="#">Active</a></li>
        </ul>
      </div>
    </nav>

    <input type="hidden" id="url" value="http://localhost:8080/mastergetjsoncongty/">
    <table class="table table-hover" id="memberTable"></table>

  </body>


</html>
