<!DOCTYPE html>
<html lang="en">

  <head>

    <title>Go Bug</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/masterTable.js"></script>

  </head>


  <body>

    <nav class="navbar navbar-inverse" >
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">GoBug</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">ProJect</a></li>
        </ul>
      </div>
    </nav>



    <table class="table table-hover" id="memberTable"></table>

    <hr>
    Email: <input type="text" id="email"/>
    <br>
    Domain: <input type="text" id="domain"/>
    <br>
    <input type="submit" value="Accept" onclick="Put()"/>
    <input type="submit" value="Delete" onclick="Delete()"/>

  </body>


</html>
